html {
	height: 100%;
}

body {
	box-sizing: border-box;
    display: flex;
    font-family: 'Open Sans', sans-serif;
	min-height: 100%;
    width: 100%;
}

.fa {
	width: 15px;
}

.left-side {
 	background-color: #364153;
    height: auto;
    width: 14%;

}

.right-side {
	background-color: #EDF2F6;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 86%;
}

.top {
	background-color: #FFFFFF;
	border-bottom: 1px solid grey;
	height: 90px;
}

.top2 {
	background-color: #FFFFFF;
	border-bottom: 1px solid grey;
	height: 140px;
}

.nav-bar {
	background-color: #FFFFFF;
	border-bottom: 1px solid grey;
	height: 90px;
}

.middle {
	background-color: #EDF2F6;
	border-bottom: 1px solid grey;
	height: 375px;
}

.bottom {
	background-color: pink;
	display: flex;
	height: 1000px;
	margin: 50px;
}

.left-bottom-box {
	background-color: teal;
	width: 60%;
}

.right-bottom-box {
	background-color: silver;
    margin-left: auto;
	width: 35.5%;
}

.first-sidebar{
	align-items: center;
	border: 1px solid black;
	height: 200px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.mugshot {
	background: url("images/mug-shot.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	border-radius: 100%;
	height: 75px;
	width: 75px;
}

.name-dropdown {
	display: inline-flex;
	align-items: center;
}

.name-dropdown p {
	color: #8590A2;
	font-size: .8em;
}

.name-dropdown i {
	color: #8590A2;
	margin-left: 8px;
}

/* main nav */

.main-nav {
	border-bottom: 1px solid black;
	height: 300px;
	color: #8590A2;
	padding-left: 20px;
}

.main-nav p {
	margin: 35px 0 10px 0;
}

.main-nav h5 {
	margin: 15px; 
	padding-top: 3px;
}

.nav-home {
	align-items: center;
	display: flex;
}

.nav-jobs {
	align-items: center;
	display: flex;	
}

.nav-resumes {
	align-items: center;
	display: flex;
}

.nav-tasks {
	align-items: center;
	display: flex;
}

.nav-calender {
	align-items: center;
	display: flex;
}

/*admin nav*/

.admin-nav {
	border-bottom: 1px solid black;
	height: 300px;
	color: #8590A2;
	padding-left: 20px;
}

.admin-nav p {
	margin: 35px 0 10px 0;
}

.admin-nav h5 {
	margin: 15px;
	padding-top: 3px; 
}

.nav-users {
	align-items: center;
	display: flex;
}

.nav-locations {
	align-items: center;
	display: flex;	
}

.fa-map-marker:before {
    margin-left: 3px;
}

.nav-work-flow {
	align-items: center;
	display: flex;
}

.nav-job-boards {
	align-items: center;
	display: flex;
}

.nav-social {
	align-items: center;
	display: flex;
}

/* pullout for side bar on mobile */