html {
	height: 100%;
}

body {
	box-sizing: border-box;
    display: flex;
    font-family: 'Open Sans', sans-serif;
	min-height: 100%;
    width: 100%;
}

.fa {
	width: 15px;
}

.left-side {
 	background-color: #364153;
    height: auto;
    width: 14%;

}

.right-side {
	background-color: #EDF2F6;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 86%;
}

.top {
	background-color: #FFFFFF;
	border-bottom: 3px solid #F4F4F6;
	height: 90px;
	display: flex;
}

.header-middle {
	background-color: #FFFFFF;
	border-bottom: 3px solid #F4F4F6;
	display: flex;
	height: 140px;
}

.nav-bar {
	background-color: #FFFFFF;
	border-bottom: 3px solid #F4F4F6;
	height: 90px;
}

.middle {
	background-color: #EDF2F6;
	border-bottom: 3px solid #F4F4F6;
	height: 375px;
}

.bottom {
	background-color: pink;
	display: flex;
	height: 1000px;
	margin: 50px;
}

.left-bottom-box {
	background-color: teal;
	width: 60%;
}

.right-bottom-box {
	background-color: silver;
    margin-left: auto;
	width: 35.5%;
}

.first-sidebar{
	align-items: center;
	border-bottom: 3px solid #2D384A;
	display: flex;
    flex-direction: column;
	height: 200px;
    justify-content: center;
}

.mugshot {
	background: url("images/mug-shot.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	border-radius: 100%;
	height: 85px;
	width: 85px;
}

.name-dropdown {
	align-items: center;
	display: inline-flex;
}

.name-dropdown p {
	color: #8590A2;
	font-size: 1em;
}

.name-dropdown i {
	color: #8590A2;
	margin-left: 8px;
}

/* left side of page main nav */

.main-nav {
	border-bottom: 3px solid #2D384A;
	color: #8590A2;
	height: 300px;
	padding-left: 20px;
}

.main-nav p {
	margin: 35px 0 10px 0;
}

.main-nav h5 {
	margin: 15px; 
	padding-top: 3px;
}

.nav-home {
	align-items: center;
	display: flex;
}

.nav-jobs {
	align-items: center;
	display: flex;	
}

.nav-resumes {
	align-items: center;
	display: flex;
}

.nav-tasks {
	align-items: center;
	display: flex;
}

.nav-calender {
	align-items: center;
	display: flex;
}

/* admin nav left side of page */

.admin-nav {
	border-bottom: 3px solid #2D384A;
	color: #8590A2;
	height: 300px;
	padding-left: 20px;
}

.admin-nav p {
	margin: 35px 0 10px 0;
}

.admin-nav h5 {
	margin: 15px;
	padding-top: 3px; 
}

.nav-users {
	align-items: center;
	display: flex;
}

.nav-locations {
	align-items: center;
	display: flex;	
}

.fa-map-marker:before {
    margin-left: 3px;
}

.nav-work-flow {
	align-items: center;
	display: flex;
}

.nav-job-boards {
	align-items: center;
	display: flex;
}

.nav-social {
	align-items: center;
	display: flex;
}

/* Catagories Nav left side of page */

.catagories-nav {
	color: #8590A2;
	padding-left: 20px;
}

.catagories-nav p {
	margin: 35px 0 10px 0;
}

.catagories-nav h5 {
	margin: 15px;
	padding-top: 3px; 
}

.nav-administrative {
	align-items: center;
	display: flex;
}

.nav-administrative i {
	color: #FFD708;
}

.nav-design {
	align-items: center;
	display: flex;	
}

.nav-design i {
	color: #2AB0FB;
}

.nav-executive {
	align-items: center;
	display: flex;
}

.nav-executive i {
	color: #EC1A61;
}

.nav-human-resources {
	align-items: center;
	display: flex;
}

.nav-human-resources i {
	color: #07A98A;
}

/* Ride side top search bar */

.top i {
	color: #939BA1;
}

.left-burger {
    align-items: center;
    border-right: 1px solid #F4F4F6;
	display: flex;
    justify-content: center;
	width: 90px;
}

.left-burger:hover {
	background-color: #17A3F9;
}

.left-burger:hover i{
	color: white;
}

.search-bar {
	align-items: center;
	border-right: 1px solid #F4F4F6; 
	display: flex;
	width: 900px;
	padding-left: 30px;
}

.search-bar input {
	border: none;
	margin-left: 20px;
    padding: 10px 10px 10px 0;
	width: 100%;
}

.add-person {
	align-items: center;
	border-right: 1px solid #F4F4F6; 	
	display: flex;
    justify-content: center;
	width: 90px;
}

.add-person:hover {
	background-color: #17A3F9;
}

.add-person:hover i{
	color: white;
}

.add-date {
	align-items: center;
	border-right: 1px solid #F4F4F6; 
	display: flex;	
	justify-content: center;
	width: 90px;
}

.add-date:hover {
	background-color: #17A3F9;
}

.add-date:hover i{
	color: white;
}

.dot-matrix {
	align-items: center;
	width: 90px;
	display: flex;	
	justify-content: center;
}

.dot-matrix:hover {
	background-color: #17A3F9;
}

.dot-matrix:hover i{
	color: white;
}

/* header middle */

.left-header-middle {
	display: flex;
	width: 70%;
	justify-content: center;
    flex-direction: column;
}

.left-header-middle i{
	color: #8C8F98;
}

.left-header-middle h2{
	color: #6F6E73;
	margin: 0 0 0 50px; 
	font-size: 1.5em;
	font-weight: 100;
}

.map-marker {
    align-items: center;
	display: flex;
    padding: 0 0 0 50px;
}

.map-marker i {
	font-size: 1.2em;
}

.map-marker a {
	color: #17A3F9;
	text-decoration: none;
	font-size: .8em;
}

.map-marker p {
	padding-left: 10px;
	color: #8C8F98;
	font-size: .8em;
	font-weight:; 100;
}

#dot {
	font-size: 4px;
	padding-left: 10px; 
}

/* right part of header middle */

.right-header-middle {
	width: 30%;
	display: flex;
	align-items: center;
}

.right-header-middle p {
	margin: 0;
}

.right-header-middle i{
	color: #8C8F98;
}


.open-container {
	display: flex;
	height: 35px;
	width: 100%;
}

.open {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 20%/60%;
	display: flex;
	justify-content: center;
	margin: 0 15px 0 55px;
	width: 80px;
}

.open h2 {
	color: #6F6E73;
	font-size: .7em;
}

.open i {
	color: #88C43D;
	font-size: .7em;
}

.ribbon {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 100%; 
	display: flex;
	justify-content: center;
	margin-right: 15px;
	width: 30px;
}

.ribbon i {
	width: auto;
	font-size: .9em;
}

.pencil {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	margin-right: 15px;
	width: 30px;
}

.pencil i {
	width: auto;
	font-size: .9em;
}

.phone-booth {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	width: 30px;
}

.phone-booth i {
	width: auto;
	font-size: .9em;
}





















/* pullout for side bar on mobile */