html {
	height: 100%;
}

body {
	box-sizing: border-box;
    display: flex;
    font-family: 'Open Sans', sans-serif;
	min-height: 100%;
    width: 100%;
}

.fa {
	width: 15px;
}

.left-side {
 	background-color: #364153;
    height: auto;
    width: 14%;

}

.right-side {
	background-color: #EDF2F6;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 86%;
}

.top {
	background-color: #FFFFFF;
	border-bottom: 3px solid #F4F4F6;
	height: 90px;
	display: flex;
}

.header-middle {
	background-color: #FFFFFF;
	display: flex;
	height: 140px;
}

.nav-bar {
	background-color: #FFFFFF;
	border-bottom: 3px solid #F4F4F6;
	color: #959AA0;
	display: flex;
	height: 90px;
}

.middle {
	background-color: #EDF2F6;
	border-bottom: 3px solid #D6D8D9;
	display: flex;
	height: 320px;
	margin: 20px 0 0 40px;
}

.bottom {
	display: flex;
	height: 1000px;
	margin: 50px;
}

.left-bottom-box {
	background-color: white;
	width: 60%;
}

.right-bottom-box {
	background-color: silver;
    margin-left: auto;
	width: 35.5%;
}

.first-sidebar{
	align-items: center;
	border-bottom: 3px solid #2D384A;
	display: flex;
    flex-direction: column;
	height: 200px;
    justify-content: center;
}

.mugshot {
	background: url("images/mug-shot.jpg") no-repeat;
	background-position: center;
	background-size: cover; 
	border-radius: 100%;
	height: 85px;
	width: 85px;
}

.name-dropdown {
	align-items: center;
	display: inline-flex;
}

.name-dropdown:hover {
	background-color: #30394A;
}

.name-dropdown:hover p {
	color: white;
}

.name-dropdown:hover i {
	color: white;
}

.name-dropdown p {
	color: #8590A2;
	font-size: 1em;
}

.name-dropdown i {
	color: #8590A2;
	margin-left: 8px;
}

/* left side of page main nav */

.main-nav {
	border-bottom: 3px solid #2D384A;
	color: #8590A2;
	height: 300px;
}

.main-nav p {
	margin: 35px 0 10px 0;
	padding-left: 20px;
}

.main-nav h5 {
	margin: 15px; 
	padding-top: 3px;
}

.nav-home {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-home:hover {
	background-color: #30394A;
	color: white;
}

.nav-jobs {
	align-items: center;
	display: flex;
	padding-left: 20px;	
}

.nav-jobs:hover {
	background-color: #30394A;
	color: white;
}

.nav-resumes {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-resumes:hover {
	background-color: #30394A;
	color: white;
}

.nav-tasks {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-tasks:hover {
	background-color: #30394A;
	color: white;
}

.nav-calender {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-calender:hover {
	background-color: #30394A;
	color: white;
}


/* admin nav left side of page */

.admin-nav {
	border-bottom: 3px solid #2D384A;
	color: #8590A2;
	height: 300px;
}

.admin-nav p {
	margin: 35px 0 10px 0;
	padding-left: 20px;
}

.admin-nav h5 {
	margin: 15px;
	padding-top: 3px; 
}

.nav-users {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-users:hover {
	background-color: #30394A;
	color: white;
}

.nav-locations {
	align-items: center;
	display: flex;	
	padding-left: 20px;
}

.nav-locations:hover {
	background-color: #30394A;
	color: white;
}

.fa-map-marker:before {
    margin-left: 3px;
}

.nav-work-flow {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-work-flow:hover {
	background-color: #30394A;
	color: white;
}

.nav-job-boards {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-job-boards:hover {
	background-color: #30394A;
	color: white;
}

.nav-social {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-social:hover {
	background-color: #30394A;
	color: white;
}

/* Catagories Nav left side of page */

.catagories-nav {
	color: #8590A2;
}

.catagories-nav p {
	margin: 35px 0 10px 0;
	padding-left: 20px;
}

.catagories-nav h5 {
	margin: 15px;
	padding-top: 3px; 
}

.nav-administrative {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-administrative:hover {
	background-color: #30394A;
	color: white;
}

.nav-administrative i {
	color: #FFD708;
}

.nav-design {
	align-items: center;
	display: flex;	
	padding-left: 20px;
}

.nav-design:hover {
	background-color: #30394A;
	color: white;
}

.nav-design i {
	color: #2AB0FB;
}

.nav-executive {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-executive:hover {
	background-color: #30394A;
	color: white;
}

.nav-executive i {
	color: #EC1A61;
}

.nav-human-resources {
	align-items: center;
	display: flex;
	padding-left: 20px;
}

.nav-human-resources:hover {
	background-color: #30394A;
	color: white;
}

.nav-human-resources i {
	color: #07A98A;
}

/* Ride side top search bar */

.top i {
	color: #939BA1;
}

.left-burger {
    align-items: center;
    border-right: 1px solid #F4F4F6;
	display: flex;
    justify-content: center;
	width: 90px;
}

.left-burger:hover {
	background-color: #17A3F9;
}

.left-burger:hover i{
	color: white;
}

.search-bar {
	align-items: center;
	border-right: 1px solid #F4F4F6; 
	display: flex;
	width: 900px;
	padding-left: 30px;
}

.search-bar input {
	border: none;
	margin-left: 20px;
    padding: 10px 10px 10px 0;
	width: 100%;
}

.add-person {
	align-items: center;
	border-right: 1px solid #F4F4F6; 	
	display: flex;
    justify-content: center;
	width: 90px;
}

.add-person:hover {
	background-color: #17A3F9;
}

.add-person:hover i{
	color: white;
}

.add-date {
	align-items: center;
	border-right: 1px solid #F4F4F6; 
	display: flex;	
	justify-content: center;
	width: 90px;
}

.add-date:hover {
	background-color: #17A3F9;
}

.add-date:hover i{
	color: white;
}

.dot-matrix {
	align-items: center;
	width: 90px;
	display: flex;	
	justify-content: center;
}

.dot-matrix:hover {
	background-color: #17A3F9;
}

.dot-matrix:hover i{
	color: white;
}

/* header middle */

.left-header-middle {
	display: flex;
	width: 70%;
	justify-content: center;
    flex-direction: column;
}

.left-header-middle i{
	color: #8C8F98;
}

.left-header-middle h2{
	color: #6F6E73;
	margin: 0 0 0 50px; 
	font-size: 1.5em;
	font-weight: 100;
}

.map-marker {
    align-items: center;
	display: flex;
    padding: 0 0 0 50px;
}

.map-marker i {
	font-size: 1.2em;
}

.map-marker a {
	color: #17A3F9;
	text-decoration: none;
	font-size: .8em;
}

.map-marker p {
	padding-left: 10px;
	color: #8C8F98;
	font-size: .8em;
	font-weight:; 100;
}

#dot {
	font-size: 4px;
	padding-left: 10px; 
}

/* right part of header middle */

.right-header-middle {
	width: 30%;
	display: flex;
	align-items: center;
}

.right-header-middle p {
	margin: 0;
}

.right-header-middle i{
	color: #8C8F98;
}


.open-container {
	display: flex;
	height: 35px;
	width: 100%;
}

.open {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 20%/60%;
	display: flex;
	justify-content: center;
	margin: 0 15px 0 55px;
	width: 80px;
}

.open h2 {
	color: #6F6E73;
	font-size: .7em;
}

.open i {
	color: #88C43D;
	font-size: .7em;
}

.ribbon {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 100%; 
	display: flex;
	justify-content: center;
	margin-right: 15px;
	width: 30px;
}

.ribbon i {
	width: auto;
	font-size: .9em;
}

.pencil {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	margin-right: 15px;
	width: 30px;
}

.pencil i {
	width: auto;
	font-size: .9em;
}

.phone-booth {
	align-items: center;
	border: 3px solid #E6E6E8;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	width: 30px;
}

.phone-booth i {
	width: auto;
	font-size: .9em;
}

/* nav bar, right side bottom of header */

.nav-bar h2 {
	font-size: .8em;
	font-weight: bolder;
}

.summary:hover {
	border-bottom: 4px solid #4CB5EC; 
	color: #6F6E73;
}

.applications:hover {
	border-bottom: 4px solid #4CB5EC; 
	color: #6F6E73;
}

.job-board:hover {
	border-bottom: 4px solid #4CB5EC; 
	color: #6F6E73;
}

.interviews:hover {
	border-bottom: 4px solid #4CB5EC; 
	color: #6F6E73;
}

.activity:hover {
	border-bottom: 4px solid #4CB5EC; 
	color: #6F6E73;
}

.broadcast:hover {
	border-bottom: 4px solid #4CB5EC; 
	color: #6F6E73;
}

.notifications:hover {
	border-bottom: 4px solid #4CB5EC; 
	color: #6F6E73;
}

.nav-bar div {
	margin: 40px 0 0 48px;
}

/* right side middle of page  */

.middle-left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 45%; 
}

.pie-container {
	background: url("images/progress-circle.png") no-repeat;
	background-position: center;
    background-size: cover;
	margin-bottom: 4%;
	height: 70%;
}

.totals-capsule {
	align-self: center;
	align-items: center;
	background-color: white;
	border: 2px solid #D6D8D9;
	border-radius:10%/60%;
	display: flex;
	justify-content: center;
	height: 8%;
	width: 41%;
}

.totals-capsule h3 {
	color: #6F6E73;
	font-size: .7em;
}

.middle-right {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 50px;
	width: 50%; 
}

.bar-container {
	background: url("images/graph.png") no-repeat;
	background-position: center;
    background-size: cover;
	margin-bottom: 4%;
	height: 70%;
}

.app-capsule {
	align-self: center;
	align-items: center;
	background-color: white;
	border: 2px solid #D6D8D9;
	border-radius:10%/60%;
	display: flex;
	justify-content: center;
	height: 8%;
	width: 41%;
}

.app-capsule h3 {
	color: #6F6E73;
	font-size: .7em;
}

/* right side of page middle box*/

.left-bottom-box h2 {
	color: #6F7E95;
	font-size: 1em;
}

.job-description {
	align-items: center;
	background-color: #6F7E95;
	display: flex;
	height: 10%;
	padding-left: 40px; 
}

.job-description h2 {
	color: white;
}

.same-size {
	align-items: center;
	border-bottom: 1px solid #D6D8D9;
	display: flex;
	height: 10%;
	padding-left: 40px; 
}

.discription {
	align-items: center;
	border-bottom: 1px solid #D6D8D9;
	display: flex;
	height: 20%;
	padding-left: 40px; 
}







